{% extends "base.njk" %}

{% block content %}
  <div class="col-md-10 offset-md-1">

    <div class="card card-outline-primary mb-3 text-center">
      <div class="card-block">
        <blockquote class="card-blockquote">
          <center>
            <table id="todolist" class="table table-bordered table-hover sortable">
              <thead>
                <tr>
                  <th>Tâche</th>
                  <th>Jour</th>
                  <th>Nb répétitions</th>
                  <th>Nb séries</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for todo in todos %}
                  <tr>
                    <td>
                      {{ todo.label }}
                    </td>
                    <td>
                      {{ todo.jour }}
                    </td>
                    <td>
                      {{ todo.nbRepetitions }}
                    </td>
                    <td>
                      {{ todo.nbSeries }}
                    </td>
                    <td>
                      <a class="btn btn-warning btn-sm" href="/todo/edit/{{ todo._id }}" role="button"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                      <a class="btn btn-success btn-sm" href="/todo/delete/{{ todo._id }}" role="button"><i class="fa fa-check" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

            <br>

            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalAddTodo">
              Ajouter un exercice
            </button>
           <br>

            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalRemoveAllTodo">
              Supprimer tout les exercices
            </button>
          </center>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalAddTodo" tabindex="-1" role="dialog" aria-labelledby="modalAddTodo" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalAddTodo">Ajouter un exercice</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/todo/add/" method="post">
            <div class="form-group">
              <label for="inputLabel">Nom de l'exercice :</label>
              <input type="text" class="form-control" id="inputLabel" name="inputLabel" placeholder="Développer militaire" autofocus required>
            </div>
            <div class="form-group">
              <label for="inputJour" class="">Jour de la semaine :</label>
              <select class="form-control" id="inputJour" name="inputJour">
                <option>lundi</option>
                <option>mardi</option>
                <option>mercredi</option>
                <option>jeudi</option>
                <option>vendredi</option>
                <option>samedi</option>
                <option>dimanche</option>
              </select>
            </div>
            <div class="form-group">
              <label for="inputNbRepetitions" class="">Nombre de répétitions :</label>
              <input class="form-control" type="text" id="inputNbRepetitions" name="inputNbRepetitions" placeholder="12" required>
            </div>
            <div class="form-group">
              <label for="inputNbSeries" class="">Nombre de séries :</label>
              <input class="form-control" type="text" id="inputNbSeries" name="inputNbSeries" placeholder="5" required>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
          <button type="submit" class="btn btn-success">Ajout</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalRemoveAllTodo" tabindex="-1" role="dialog" aria-labelledby="modalRemoveAllTodo" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalRemoveAllTodo">Supprimer tout les exercices ?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <center>
                <button type="button" class="btn btn-success" data-dismiss="modal">Non</button>
                <a class="btn btn-danger" href="/todo/delete/all" role="button">Oui</a>
            </center>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block endbody %}
  <script src="http://www.kryogenix.org/code/browser/sorttable/sorttable.js" charset="utf-8"></script>
{% endblock %}
