{% extends "base.njk" %}

{% block content %}
  <div class="col-md-10 offset-md-1">
  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalAddTodo">Ajouter un exercice</button>


  <h2>Lundi</h2>

    <div class="card-columns">
    {% for planning in plannings %}
      {% if planning.jour == "lundi" %}
        <div class="card text-white">
          <div class="card-body">
            <a class="card-link btn-poubelle" href="/planning/delete/{{ planning._id }}" role="button"><i class="fa fa-trash"></i></a>
            <a class="card-link btn-modifier" href="/planning/edit/{{ planning._id }}" role="button"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <h5 class="card-title">{{ planning.label }}</h5>
            <p class="card-text">nombre répétitions : {{ planning.nbRepetitions }}</p>
            <p class="card-text">nombre série : {{ planning.nbSeries }}</p>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    </div>

    <h2>Mardi</h2>

    <div class="card-columns">
    {% for planning in plannings %}
      {% if planning.jour == "mardi" %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ planning.label }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ planning.jour }}</h6>
            <p class="card-text">{{ planning.nbRepetitions }}</p>
            <p class="card-text">{{ planning.nbSeries }}</p>
            <a class="btn btn-warning btn-sm card-link" href="/planning/edit/{{ planning._id }}" role="button"><i class="fa fa-pencil" aria-hidden="true"></i></a>
              <a class="btn btn-success btn-sm card-link" href="/planning/delete/{{ planning._id }}" role="button"><i class="fa fa-check" aria-hidden="true"></i></a>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    </div>

    <h2>Mercredi</h2>

    <div class="card-columns">
    {% for planning in plannings %}
      {% if planning.jour == "mercredi" %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ planning.label }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ planning.jour }}</h6>
            <p class="card-text">{{ planning.nbRepetitions }}</p>
            <p class="card-text">{{ planning.nbSeries }}</p>
            <a class="btn btn-warning btn-sm card-link" href="/planning/edit/{{ planning._id }}" role="button"><i class="fa fa-pencil" aria-hidden="true"></i></a>
              <a class="btn btn-success btn-sm card-link" href="/planning/delete/{{ planning._id }}" role="button"><i class="fa fa-check" aria-hidden="true"></i></a>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    </div>

    <h2>Jeudi</h2>

    <div class="card-columns">
    {% for planning in plannings %}
      {% if planning.jour == "jeudi" %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ planning.label }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ planning.jour }}</h6>
            <p class="card-text">{{ planning.nbRepetitions }}</p>
            <p class="card-text">{{ planning.nbSeries }}</p>
            <a class="btn btn-warning btn-sm card-link" href="/planning/edit/{{ planning._id }}" role="button"><i class="fa fa-pencil" aria-hidden="true"></i></a>
              <a class="btn btn-success btn-sm card-link" href="/planning/delete/{{ planning._id }}" role="button"><i class="fa fa-check" aria-hidden="true"></i></a>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    </div>

    <h2>Vendredi</h2>

    <div class="card-columns">
    {% for planning in plannings %}
      {% if planning.jour == "vendredi" %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ planning.label }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ planning.jour }}</h6>
            <p class="card-text">{{ planning.nbRepetitions }}</p>
            <p class="card-text">{{ planning.nbSeries }}</p>
            <a class="btn btn-warning btn-sm card-link" href="/planning/edit/{{ planning._id }}" role="button"><i class="fa fa-pencil" aria-hidden="true"></i></a>
              <a class="btn btn-success btn-sm card-link" href="/planning/delete/{{ planning._id }}" role="button"><i class="fa fa-check" aria-hidden="true"></i></a>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    </div>

    <h2>Samedi</h2>

    <div class="card-columns">
    {% for planning in plannings %}
      {% if planning.jour == "samedi" %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ planning.label }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ planning.jour }}</h6>
            <p class="card-text">{{ planning.nbRepetitions }}</p>
            <p class="card-text">{{ planning.nbSeries }}</p>
            <a class="btn btn-warning btn-sm card-link" href="/planning/edit/{{ planning._id }}" role="button"><i class="fa fa-pencil" aria-hidden="true"></i></a>
              <a class="btn btn-success btn-sm card-link" href="/planning/delete/{{ planning._id }}" role="button"><i class="fa fa-check" aria-hidden="true"></i></a>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    </div>

    <h2>Dimanche</h2>

    <div class="card-columns">
    {% for planning in plannings %}
      {% if planning.jour == "dimanche" %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ planning.label }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ planning.jour }}</h6>
            <p class="card-text">{{ planning.nbRepetitions }}</p>
            <p class="card-text">{{ planning.nbSeries }}</p>
            <a class="btn btn-warning btn-sm card-link" href="/planning/edit/{{ planning._id }}" role="button"><i class="fa fa-pencil" aria-hidden="true"></i></a>
              <a class="btn btn-success btn-sm card-link" href="/planning/delete/{{ planning._id }}" role="button"><i class="fa fa-check" aria-hidden="true"></i></a>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    </div>




<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalRemoveAllTodo">
  Supprimer tout les exercices
</button>

    


  <div class="modal fade" id="modalAddTodo" tabindex="-1" role="dialog" aria-labelledby="modalAddTodo" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title" id="modalAddTodo">Ajouter un exercice</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/add" method="post">
            <div class="form-group">
              <label for="inputLabel">Nom de l'exercice :</label>
              <input type="text" class="form-control" id="inputLabel" name="inputLabel" placeholder="Développer militaire" autofocus required>
            </div>
            <div class="form-group">
              <label for="inputJour" class="">Jour de la semaine :</label>
              <select class="form-control" id="inputJour" name="inputJour">
                <option>lundi</option>
                <option>mardi</option>
                <option>mercredi</option>
                <option>jeudi</option>
                <option>vendredi</option>
                <option>samedi</option>
                <option>dimanche</option>
              </select>
            </div>
            <div class="form-group">
              <label for="inputNbRepetitions" class="">Nombre de répétitions :</label>
              <input class="form-control" type="text" id="inputNbRepetitions" name="inputNbRepetitions" placeholder="12" required>
            </div>
            <div class="form-group">
              <label for="inputNbSeries" class="">Nombre de séries :</label>
              <input class="form-control" type="text" id="inputNbSeries" name="inputNbSeries" placeholder="5" required>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
          <button type="submit" class="btn btn-success">Ajout</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalRemoveAllTodo" tabindex="-1" role="dialog" aria-labelledby="modalRemoveAllTodo" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalRemoveAllTodo">Supprimer tout les exercices ?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <center>
                <button type="button" class="btn btn-success" data-dismiss="modal">Non</button>
                <a class="btn btn-danger" href="/delete/all" role="button">Oui</a>
            </center>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block endbody %}
  <script src="http://www.kryogenix.org/code/browser/sorttable/sorttable.js" charset="utf-8"></script>
{% endblock %}
