:root {
	--white: #ffffff;
	--light: #f0eff3;
	--black: #000000;
	--dark-blue: #1f2029;
	--dark-light: #353746;
	--red: #da2c4d;
	--yellow: #f8ab37;
	--grey: #ecedf3;
}

body {
  padding-top: 30px;
  background: var(--dark-blue);
  color: white;
}

table.sortable thead {
  font-weight: bold;
  cursor: default;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
  content: " \25B4\25BE";
}

.card {
  background-color: var(--dark-light);
}

h1 {
	text-align: center;
}